@model SGW.Portal.Models.ForgotPasswordModel

<h3>Esqueci Minha Senha</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Dados do Usuário</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.PasswordFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Resetar" />
    </fieldset>
}
