@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Ops! Aconteceu um erro durante a execução, Tente novamente ou contate o Administrador do Sistema.</h2>
</hgroup>
